 /* Media query for mobile devices */
 @media (max-width: 768px) {

/* ======================================== HOME ======================================== */
.home_social {
    display: flex;
    justify-content: center;
    }
.home_social_link {
    margin-right: 10px;
    }
    
}