/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400&display=swap');

/* Fonts */
:root {
  /* Font Families */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Times New Roman', Times, serif;
  --font-cursive: 'Clicker Script', cursive;

  /* heading font sizes */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.25rem; /* 20px */
  --fs-2xl: 1.5rem; /* 24px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-4xl: 2.25rem; /* 36px */
  --fs-5xl: 3rem; /* 48px */
  --fs-6xl: 3.75rem; /* 60px */
  --fs-7xl: 4.5rem; /* 72px */
  --fs-8xl: 6rem; /* 96px */
  --fs-9xl: 8rem; /* 128px */

  /* Font Weights */
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
}

/* Colors */
:root {
  /* Background Colors */
  --bg-base: #121212;
  --bg-base-lt: #222222;
  --bg-base-ltr: #393939;
  
  /* Text Colors */
  --text-base: #ffffff;
  --text-base-lt: #e9e9e9;

  --accent-primary: #ea580c;       /* #0891b2 */
  --accent-secondary: #c2410c;
}

body.light {
  --bg-base: #dedede;
  --bg-base-lt: #f1ecf3;
  --bg-base-ltr: #ffffff;
  
  --text-base: #040404;
  --text-base-lt: #302e4d;

  --accent-primary: #c2410c;
  --accent-secondary: #c2410c;
}


body {
  font-family: var(--font-secondary);
  background-color: var(--bg-base);
  color: var(--text-base-lt);
  font-size: var(--fs-lg);
  line-height: 1.5;
  margin: 0;
}

/* Custom scrollbar styles for WebKit browsers */
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: var(--bg-base-ltr);
}
body::-webkit-scrollbar-thumb {
  background: var(--accent-primary);
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg,
   #be123c 0%, #ea580c 20%,
    #15803d 40%, #0d9488 60%,
     #0284c7 80%, #1d4ed8 100%
     );
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.section {
  min-height: 100vh;
  padding-block: 3rem 3rem;
}



/* ======================================== HOME ======================================== */
.home {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.home_image {
  display: inline-block;
  position: relative;

}
.home_image::before {
  position: absolute;
  bottom: -6%;
  right: -8%;
  width: 100%;
  height: 100%;
  border: 4px solid var(--text-base);
  content: '';
  z-index: -1;
}
.home_img {
  width: 22rem;
} 



/* Light and Dark MODE */
.day-night-theme {
  position: fixed;
  right: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.day-night-theme:hover {
  color: var(--accent-primary);
  transform: scale(1.2);
}

.home_name {
  font-size: var(--fs-5xl);
}









/* .shadow-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.shadow-button:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--accent-primary);
}
 */
